<html>
    <head>
        <link rel="stylesheet" href="{{stylefile}}">
    </head>
    <body>
        <h1>Hello Michael</h1>
        <p>I have {{things.length}} things to say:</p>
        <ul>
            {{#things}}<li>{{part1}} and {{part2}}</li>{{/things}}
        </ul>
    </body>
</html>